{
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "parser": "typescript",
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": true
}
